version: '3.8'
services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: LGCUser
      POSTGRES_PASSWORD: LGCPassword
      POSTGRES_DB: LGC_DB
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - LGCNetwork

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - LGCNetwork
    depends_on:
      - db

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    depends_on:
      - db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonarqube_db
      SONAR_JDBC_USERNAME: LGCUser
      SONAR_JDBC_PASSWORD: LGCPassword
    ports:
      - "9000:9000"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - LGCNetwork


volumes:
  postgres_data:
    driver: local
  jenkins_home:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  LGCNetwork:
    name: LGCNetwork
    driver: bridge
    external: true


